*{
    box-sizing: border-box;
}

#outer{
    display:flex;
    border:5px outset black;
    background-color: rgba(188, 180, 233, 0.952);
    justify-content: center;
    flex-wrap: wrap;
    height:500px;
    padding:30px;
    align-items: center;
    /* align-content: center; */
    margin:50px 0px;
}

input{
    height:50px;
    font-size: 150%;
}

select{
    display:block;
    margin:5px auto;
}

#outer > div{
    padding:15px;
    margin:0 30px;
    flex:0 0 300px;
    /* background-color: red; */
}